<script>
	import getStreamsConfigurator, { setAllRecordings, getAllStreams } from '../lib/streams';
	import { servers, streams, records } from '../stores/server';
	import { onMount } from 'svelte';

	onMount(() => {
		// This is a hack to get the page to scroll to the top on navigation
		//
		if (!$servers?.length) {
			getStreamsConfigurator()
				.then((streamingServers) => {
					servers.set(streamingServers);
					setTimeout(() => {
						getAllStreams(servers, streams);
						setTimeout(() => {
							setAllRecordings(servers, streams, records).catch((e) => {
								console.error('error getAllRecordings', e);
							});
						}, 500);
					}, 100);
				})
				.catch((e) => {
					console.error('error getAllStreams', e);
				});
		}
		setInterval(() => {
			getAllStreams(servers, streams);
		}, 30000);
		setInterval(() => {
			setAllRecordings(servers, streams, records).catch((e) => {
				console.error('error getAllRecordings', e);
			});
		}, 110000);
	});
</script>

<slot />
